@model IEnumerable<TPaySaleChannelSimulator.Models.Merchant>
@{
    ViewBag.Title = "ChooseMerchant";
}

<h2>Choose Merchant</h2>

<label>Merchants</label>
@*@Html.DropDownListFor(m => m.Id, Model., "Please select")*@