@model TPaySaleChannelSimulator.Models.ChooseMerchantModel
@{
    ViewBag.Title = "ChooseMerchant";
}

<h2>Choose Merchant</h2>

<label>Merchants</label>
@using (Html.BeginForm("ChooseOperator", "SaleChannel", FormMethod.Post))
{
    @Html.DropDownList("MerchantSelected", Model.Merchants)
    <input id="submitMerchant" type="submit" value="choose" />
}