@model TPaySaleChannelSimulator.Models.ChooseRelationshipViewModel
@using TPaySaleChannelSimulator.Managers;
@{
    ViewBag.Title = "ChooseRelationship";

    // var selectedOperator = int.Parse( Request.Form["OperatorSelected"].ToString());
};


<h2>Create New Relationship</h2>
@using (Html.BeginForm("CreateRelation", "SaleChannel", FormMethod.Post))
{

    //var MerchantExceptions = new SaleChannelManager();
    @Html.Hidden("chosenMerchant", Model.Merchants.ToList().First().Value)
    @Html.DropDownList("MerchantSelected", Model.Merchants)
    @Html.DropDownList("OperatorSelected", Model.Operators)

    <input id="submitOperator" type="submit" value="choose" />
}

@*@{
            if (Request.Form.HasKeys())
            {
                var selectedOperator = int.Parse(Request.Form["OperatorSelected"].ToString());
            }
    }*@

<script>

    $(document).ready(function () {
        $("#MerchantSelected").change(function () {
            debugger;
            var exceptions = {};
            exceptions.url = "/SaleChannel/FindUsedOperators";
            exceptions.type = "POST";
            exceptions.data = JSON.stringify({
                merchantID: $("#MerchantSelected").val()
            });
            exceptions.datatype = "json";
            exceptions.contentType = "application/json";
            exceptions.success = function (OperatorList) {
                $("#OperatorSelected").empty();

                for (var i = 0 ; i < OperatorList.length; i++) {
                    $("#OperatorSelected").append("<option value=" + OperatorList[i].Value + ">" + OperatorList[i].Text + "</option>")
                }
            };
            exceptions.error = function () {
                alert("Error");
            }
            $.ajax(exceptions);

        });
    });
</script>